@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ededed;
  font-family: "微软雅黑";
}

a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.disnone {
  display: none;
}

.swiper_container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.swiper_wrapper {
  height: 100%;
}

.swiper_slide {
  position: relative;
  float: left;
  height: 100%;
}
.swiper_slide img {
  height: 100%;
  width: 100%;
}

.swiper_slide0 {
  background-color: burlywood;
}

.swiper_slide1 {
  background-color: green;
}

.swiper_slide2 {
  background-color: orange;
}

.swiper_slide3 {
  background-color: gray;
}

#container {
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
}

#menu {
  height: 3.5rem;
  background-color: #fff;
}

.menu_ul {
  text-align: center;
  font-size: 0;
  border-bottom: 1px solid #cdcdcd;
}

.menu_li {
  display: inline-block;
  width: 25%;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.3rem;
  color: #1c263e;
  margin-top: -0.3rem;
}

.active {
  color: #0069d3;
  border-bottom: 0.3rem solid #0069d3;
}

#recommend_ufi {
  position: relative;
  border: 1px solid #cdcdcd;
  width: 100%;
  background-color: #fff;
}

.goods {
  width: 100%;
  height: 12.2rem;
  display: block;
}
.goods img {
  width: 100%;
  height: 100%;
}

.attend {
  position: absolute;
  font-size: 1.4rem;
  top: 1rem;
  right: 0;
  color: #F2F2F2;
  width: 6.5rem;
  height: 2rem;
}

.wrapper_attend {
  position: absolute;
  margin-left: 1rem;
  height: 2rem;
  line-height: 2rem;
  z-index: 2;
  color: #fff;
  font-size: 0.85rem;
}

.attend_bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.a_title {
  width: 100%;
  line-height: 3.2rem;
  margin-top: -6px;
}

.title {
  font-size: 1.2rem;
  color: #0e0e0e;
  margin-left: 1rem;
}

.wrapper_price {
  position: absolute;
  right: 2rem;
  color: #DD2727;
}

.price {
  font-size: 2rem;
  font-weight: 600;
}

.gt {
  position: absolute;
  right: 2rem;
  font-size: 2rem;
  color: #ccc;
  height: 2rem;
  line-height: 2rem;
}

.section {
  margin: 6px 6px 0 6px;
}

#new_ufi {
  position: relative;
  border: 1px solid #cdcdcd;
  width: 100%;
  background-color: #fff;
}

.play {
  background-color: #fff;
  color: #000;
  height: 30rem;
  line-height: 30rem;
  text-align: center;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 346px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 352px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 560px) {
  html {
    font-size: 21px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 24px;
  }
}
