@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "微软雅黑";
}

.disnone {
  display: none;
}

#container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#section1 {
  position: relative;
  width: 100%;
  text-align: center;
}
#section1 .slide {
  width: 100%;
  display: none;
}
#section1 .check {
  display: block;
}

#toslide_show {
  position: absolute;
  width: 100%;
  margin: -10px auto;
  top: 94.86111%;
}
#toslide_show .toslide {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 19px;
  display: inline-block;
  background: url("../images/toslide.png") no-repeat center top;
}
#toslide_show .check {
  background: url("../images/toslide_hl.png") no-repeat center top;
}

#section2 {
  position: relative;
  margin: 10px auto auto 20px;
  height: 100px;
  line-height: 25px;
}

.goods {
  font-size: 1em;
}

.info {
  font-size: 0.8em;
  color: #8A8A8A;
}

.price {
  font-size: 1.3em;
  color: #D05F5F;
  font-weight: bold;
}

.free_delivery {
  font-size: 0.8em;
  color: #8A8A8A;
}

#section3 img {
  width: 100%;
  vertical-align: bottom;
}

#section4 {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 39.02778%;
  max-width: 500px;
}

#buyit {
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%;
}
#buyit img {
  width: 100%;
  vertical-align: bottom;
}

@media screen and (min-width: 1900px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1900px) and (min-width: 1000px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 16px;
  }
}
