@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "微软雅黑";
  background-color: #44B7F8;
  -webkit-text-size-adjust: none;
}

.shrink {
  -webkit-transform: scale(0.83333);
  -o-transform: scale(1);
}

#content {
  position: relative;
  width: 94%;
  background-color: #3B79AA;
  margin: 15px auto 0px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #3EAAF3;
}

#goods {
  width: 98%;
  padding: 1%;
  height: 20rem;
}

#title {
  position: absolute;
  margin: -18.5rem 0px 0px 1.5rem;
  color: #fff;
}

.t1 {
  font-size: 2.1rem;
}

.t2 {
  font-size: 1.2rem;
  margin-top: 10px;
}

#info {
  position: absolute;
  margin: -5rem 0px 0px 1.5rem;
}
#info p {
  color: #fff;
}
#info img {
  width: 21rem;
}

#activity_detail {
  font-size: 1.8rem;
}

#pdetail1 {
  font-size: 0.75rem;
}

#spandetail1 {
  font-size: 1.6rem;
}

#pdetail2 {
  font-size: 0.75rem;
}

#dial {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.lighton {
  display: block;
  width: 18rem;
  height: 9rem;
  margin: 0 auto;
}

.wrapper_pointer {
  height: 7rem;
  width: 12.5263rem;
  overflow: hidden;
  margin: -6.5rem auto 0;
}

.transform_pointer {
  position: absolute;
  width: 12.5263rem;
  height: 12.5263rem;
  text-align: center;
  transform: rotate(0deg);
}

.prices {
  position: relative;
  width: 18rem;
  margin: 0 auto;
}

.origin {
  position: absolute;
  left: 0;
  margin-left: -2rem;
  color: #fff;
}

.best {
  position: absolute;
  right: 0;
  margin-right: -2rem;
  color: #fff;
}

#price {
  text-align: center;
  margin-top: 1rem;
  height: 3.5rem;
}

#buy {
  position: absolute;
  width: 7rem;
  display: inline-block;
  margin-left: -3.5rem;
}
#buy img {
  width: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #334F74;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.share_desc {
  color: #fff;
}

@media screen and (min-width: 360px) and (max-width: 399px) {
  html {
    font-size: 81.3%;
  }
}
@media screen and (min-width: 400px) and (max-width: 479px) {
  html {
    font-size: 93.8%;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  html {
    font-size: 100%;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 131.3%;
  }
}
