<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>加油送同鹿UFi活动</title>
    <link rel="stylesheet" type="text/css" href="/bargain/static/css/share.css">
</head>
<body>
    <div id="container">
        <div id="content">
            <img id="goods" src="/bargain/static/images/goods.png">
            <div id="title">
                <p class="t1">随身WiFi的颠覆派</p>
                <p class="t2">打破局限 为自己呐喊</p>
            </div>
            <div id="info">
                <!-- <p id="activity_detail">活动说明</p>
                <p id="pdetail1">
                    <span class="shrink">
                        呼唤朋友来加油，同鹿车载WiFi<span id="spandetail1">9.9</span>元拿回家。
                    </span>
                </p>
                <p id="pdetail2">
                    <span class="shrink">
                        一款既小巧又好用的随身路由，自带500M，即插即用，你还等什么？
                    </span>
                </p> -->
                <img src="/bargain/static/images/btn.png">
            </div>
            <div id="dial">
                <img class="lighton" src="/bargain/static/images/lighton.png">
                <div class="wrapper_pointer">
                    <img class="transform_pointer" src="/bargain/static/images/pointer.png">
                </div>
                <div class="prices">
                    <span class="origin">原价：99元</span>
                    <span class="best">最低价：9.9元</span>
                </div>
            </div>
            <div id="price">
                <a id="buy" href="#">
                    <img src="/bargain/static/images/buy.png">
                </a>
            </div>
        </div>
        <div id="footer">
            <span class="share_desc">点击右上角按钮，即可分享给好友</span>
        </div>
    </div>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/bargain/static/js/share.js"></script>
</body>
</html>