#main1 {
  border: 1px solid #522525;
  height: 65px;
}

#left_info {
  float: left;
}

#main2 {
  height: 40px;
}

#customer {
  width: 230px;
  display: block;
  float: left;
}

#getAddress {
  width: 42px;
  height: 56px;
  display: block;
  float: right;
  background: url("../images/btn3.jpg") no-repeat top center;
}

#pay {
  position: fixed;
  bottom: 0px;
  left: 20%;
  width: 147px;
  height: 46px;
  display: block;
  background: url("../images/btn2.jpg") no-repeat top center;
}
