/*css reset*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
a,body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0;font-weight:400}
a{cursor:pointer;text-decoration:none}
a,button{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{border:0;vertical-align:middle}
ul,ol,li{list-style-type:none;padding-left:0}
body{font-weight:400;word-break:normal;position:relative}
body *{font-family:'Microsoft YaHei',Arial,sans-serif;}
.clearfix:after{content:"";display:block;height:0;clear:both;}
.clearfix{zoom:1;}
.float1,.fl{float:left;}
.fr{float:right;}
.hide{display: none;}

/*common*/
#weixin,.weixin{padding:20px 0 0 20px}
/*#weixin{display:none}*/
.container{margin:0 5%;max-width:960px;padding-bottom:19px;position:relative}
.container2{margin:0;max-width:960px;padding-bottom:19px;position:relative;background:#ececec;}
.content2 .container2.joinus a{padding:0 0 0.5% 0; display: block;}
.content2 .container2.joinus img{max-width:99%;margin:0 0.5%;width:auto;}

/*header*/
.header{background:#ffffff;border-bottom:1px solid #fff;height:70px;width:100%; overflow: hidden;}
.header .brand{display:block;float:left;height:49px;line-height:49px;padding:0;width:130px}
.header .brand img{width:130px;}
.header .login{color:#fb6f5d;margin-right:-18px;padding:0 18px;height:70px;line-height:70px;position:absolute;right:0;top:0;text-decoration:none;}
.header a.login:hover{color:#F53E29;}
.header #user-info{
    display: none;
    width:30px;
    height:30px;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    position:absolute;right:10px;top:20px;
}
#user-info{display: none;}

/*footer*/
.footer{background-color:#F9F9F9;margin:0 auto;width:100%}
.footer .container ul{list-style-type:none;margin: 0;padding:10px 0 0;}
.footer .container li{/*border-bottom:1px solid #ccc;*/margin:0 auto;padding:5px 0;text-align: center}
.footer .container li a{color:#5d5d5d;text-decoration:none;cursor:pointer;font-size:16px; text-decoration: underline;font-weight: bold;}
.footer .container li a:hover{color:#000}
.footer .container li.terms{opacity:0.7;text-align:center}

.footer .container .change-lang{ position: relative;height:25px;border-bottom:1px solid #C9C9C9;}
.footer .container .change-buttons{text-align: center;margin:20px 0 0;}
.footer .container .change-buttons .chgButton{
    display: inline-block;border-radius:5px;width:40px;height:40px;height:40px;line-height:40px;text-align:center; margin:0 20px 0;
}
.footer .container .change-buttons .chgButton a{ color: #fff;}
.footer .container .change-buttons .chgButton.cnTxt{ background: #FB705D;}
.footer .container .change-buttons .chgButton.twTxt{ background: #EE9168;}
.footer .container .change-buttons .chgButton.enTxt{ background: #5BB4EC;}
.footer .container .change-txt{position: absolute;width:100%;text-align: center; bottom:-10px;}
.footer .container .change-txt span{padding:0 10px; background: #F9F9F9;color: #5d5d5d}
.footer .container .qqfans{color:#5d5d5d;margin:0 auto;padding:20px 0 10px;text-align:center;font-size:18px;}
.footer .container .copyright{color:#787878;font-weight:bold;margin:0 auto;padding:30px 0 0;text-align:center;white-space: nowrap;}
.footer .container .copyright a{color:#787878;}
.footer .container .copyright a:hover{color:#000}

/*确认重新登录 retry login*/
#loginDialog{display:none;text-align:center;position: fixed;left:0;top:0;background:rgba(0,0,0,0.4);width:100%; height:100%;z-index:111111}
.loginMain{text-align:center;position:fixed;width:100%;top:50%;z-index:111111}
.loginDiv{width:274px;height:225px;background:#FFFCFC;border-radius:5px;margin:-112px auto 0;position: relative;}
.loginDiv .LG-close{position:absolute;right:8px;top:7px;width:20px;height:20px;background:url("../images/login/nie-login-close.png") no-repeat center center;background-size:16px 16px;font-size:0px;text-indent:-9999px;cursor:pointer;z-index:111}
.loginDiv .LG-title{position:relative;width:89.8%;margin:0 auto;height:41px;border-bottom:1px solid #E8E7E7}
.loginDiv .LG-title .LG-ts{position:absolute;bottom:-10px;text-align:center;font-size:12px;width:100%;color:#B0B0B0}
.loginDiv .LG-title .LG-ts span{background:#FFFCFC;padding:0 7px}
.loginDiv .login-txt{width:208px;height:48px; cursor: pointer;margin:0 auto;font-size:0px;text-indent:-9999px;}
.loginDiv .login-wb{ background: url(../images/login/nie-login-wb.png) no-repeat 0 0;background-size: 100%;margin-top:30px;}
.loginDiv .login-qq{ background: url(../images/login/nie-login-qq.png) no-repeat 0 0;background-size: 100%;margin-top:20px;}
.loginDiv .login-txt:hover,.LG-close:hover{opacity: 0.9}

/*login exit*/
#loginoutDialog{display:none;text-align:center;position: fixed;left:0;top:0;background:rgba(0,0,0,0.4);width:100%; height:100%;z-index:111111}
.LGoutMain{position:absolute;left:0;right:0;text-align:center;top:70px;max-width:640px;z-index:111111;margin:0 auto;}
.LGoutDiv{position:relative;width:200px;height:125px;background:#FFFCFC;border:1px solid #FA5D4B;margin-right:17px;}
.LGArrow{
    position:absolute;top:-9px;right:20px;border-left:1px solid #FA5D4B;border-top:1px solid #FA5D4B;background:#fff;width:15px;height:15px;z-index:4;
    transform: rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}
.LGmsg{padding:10px;}
.LGmsg dt{float: left;width:60px;height: 60px;border-radius:50%;overflow: hidden;}
.LGmsg dt img{border-radius:50%; width:60px;}
.LGmsg dd{float: left;line-height: 60px;text-indent:10px;width:120px;text-align:left; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.login-exit{margin:0 5%;}
.login-exit button{font-size:14px;width:100%;padding:4px 0;background:#FB6F5E;border:0;border-radius: 5px;color:#fff;}
.login-exit button:hover{background:#FA5D4B;cursor:pointer}

/*fast login*/
#fastLogin{position:relative;width:100%;height: auto;background: url(../images/login/bg_fast_blank.png) repeat 0 0;position: fixed;left:0;bottom:0;right:0;z-index:11111111;overflow: hidden;}
#fastLogin .fast-close{height:22px;position:absolute;right:10px;top:10px;width:22px}
#fastLogin .fast-close a{background:url(../images/login/bg_fast_close.png) no-repeat -132px 7px;display:block;height:22px;text-indent:-9999px;width:22px}
#fastLogin .fast-close a:hover{background-position:-110px 7px}

#fastMain{max-width:640px;width:640px;margin:0 auto;height:117px;}
#fastMain .fastGz{float:left;width:55%;}
#fastMain .fastGz dt.codeImg{
    margin:15px 10px 15px 20px; width:87px;height:87px;display: block;float:left;background: url(../images/login/bg_qr_code.jpg) no-repeat 0 0; background-size: cover;
}
#fastMain .fastGz dd{float:left;color:#fff;padding:27px 0 0 10px;}
#fastMain .fastGz dd p {font-size: 16px;padding: 5px 0;}
#fastMain .fastLG{float:right;width:45%;}
#fastMain .fastLG .fLGBtn{
    width:110px;height:26px;text-indent:-9999px; font-size:0; display: block; float: left; margin-left:23px;background: url(../images/login/bg_fast_wb.png) no-repeat 0 0; background-size: cover;
}
#fastMain .fastLG .fLGBtn:hover{ opacity: 0.8;}
#fastMain .fastLG .fLGBtn.LGQQ{background: url(../images/login/bg_fast_qq.png) no-repeat 0 0; background-size: cover;}
#fastMain .fastLG  p{color:#fff;padding:32px 0 7px;font-size:16px;margin-left:23px;}

/*loading ad*/
#adHeader{max-width:640px; box-sizing: border-box !important; margin: 0 auto; padding: 0 20px; border-top:1px solid #d9dadc;}
#loadADs{
    position: fixed; max-width:640px; left:0;right:0; margin:0 auto; background: #fff; z-index:111; height:100%; text-align: center;
    top:0px;
    border-left:1px solid #d9dadc;
    border-right:1px solid #d9dadc;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#loadADs .loadad{width:90%;margin:0 auto; clear: both;overflow: hidden;}
#loadADs .loadad a{display: inline-block; text-align: center;width: 100%;padding-top:15px;}
#loadADs .load-ad1,
#loadADs .load-ad2{ width:100%;}

/*pc适配*/
@media (min-width: 960px) {
    .header .container{margin:0 auto}
    .footer .container{margin:0 auto}
}
/*手机适配*/
@media (max-width: 640px) {
    .header{height:45px;box-shadow:0px 1px 2px #F0F0F0;}
    .header .brand{width:88px;height:45px;line-height:45px}
    .header .brand img{width:88px; display:block;}
    .header .login{height:45px;line-height:45px}
    .header #user-info {top: 7px;right: 0;}

    .ft_pd{box-sizing:border-box !important;}
    .footer{padding:0px!important;}

    #weixin,.weixin{padding:11px 0 0 15px}
    #weixin img,.weixin img{width:60px;}
	
    /*exit*/
    .LGoutMain{top:50px}
    .LGoutDiv{margin-right:5px}
    #loadADs{ border:0; }
}

@media (max-width: 320px) {
    .loginDiv{width:250px;height: 205px;margin:-102px auto 0;}
    .loginDiv .login-txt{width:173px;height:40px;}
    .footer{padding:0px!important;}
    .footer .container .copyright a{font-size:14px;}
    #loadADs .loadad a{padding-top:5px;}
}


/*loading*/
#loading{ text-align: center;background: #fff;}
#loading p{text-align: center;padding:5px 0;}
#loadingword{font-size:20px;}
.result-loading{
    -ms-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    -webkit-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite
}
@-moz-keyframes spin {
    from {-moz-transform: rotate(0deg)}
    to {-moz-transform: rotate(360deg)}
}
@-ms-keyframes spin {
    from {-ms-transform: rotate(0deg)}
    to {-ms-transform: rotate(360deg)}
}
@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg)}
    to {-webkit-transform: rotate(360deg)}
}
@keyframes spin {
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}

#resultPage{
	display:none;
}


.clear{
    clear: both;
}
/*share*/
#shraeimg{
	position:fixed;
	top:0px;
	width:100%;
	max-width:640px;
}


#share{
	font-size:16px;
	height:100%;
	min-height:1136px;
	width:100%;
	max-width:640px;
	min-width:320px;
	margin-right:auto;
	margin-left:auto;
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	z-index:11115;
	display:none;
	opacity:0;
}

.share-close {
	cursor: pointer;
	width: 5%;
	height: 5%;
	right: 3%;
	top: 3%;
	position: absolute;
	z-index: 111;
}
.share-ts {
    bottom: -10px;
    color: #555;
    font-size: 18px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.share-ts span {
    background: #fffcfc none repeat scroll 0 0;
    padding: 0 35px;
}
.share-title {
    border-bottom: 2px solid #e8e7e7;
    margin: 15px auto;
    position: relative;
    width: 90%;
	padding: 8% 0 0 0;
}

.sharediv{
	background: #fffcfc none repeat scroll 0 0;
    border-radius: 5px;
    margin:0 7.5%;
	bottom:7.5%;
    position: fixed;
    width: 85%;
	max-width:544px;
	min-width:272px;
}
.shareicon{
	box-sizing: border-box !important;
    color: #bbb;
    cursor: pointer;
    display: block;
    float: left;
    margin: 2% 2% 2% 9%;
    text-align: center;
    width: 20%;
	word-break:keep-all; 
	white-space:nowrap; 
	overflow:hidden;
	text-overflow:ellipsis;
}
.sharetxts{
	margin-top:10%;
}
.shareicon img{
	width:100%;
}

@media screen and (min-width: 640px) {
	.sharediv{
		margin-left:48px;
		bottom:48px;
	}
}
@media (max-width: 450px) {
	.shareicon{font-size:12px;}
}

/*tiping*/
#tiping{
	z-index:20;
	margin:0 auto;
	position:fixed;
	top:0;
	width:100%;
	display:none;
}
#tiptxt{
	min-width:320px;
	max-width:640px;
	margin:0 auto;
	padding:20px 0;
	text-align:center;
	background-color: rgba(255, 138, 116, 0.9);
	color:#f4f4f4;
	font-weight:bold;
}
/*fixed bar*/
#actfix{
    background: rgba(0, 0, 0, 0) url("../images/login/bg_fast_blank.png") repeat scroll 0 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 11111112;
}
.actword{
	width:100%;
    max-width:640px;
	text-align:center;
	color:#fb6f5d;
	margin: 0 auto;
	font-size: 20px;
	padding:10px 0;
	overflow:hidden;
}

/*played likes*/
.played-game,.played-index,.played-reco,.play-index-login,.play-reco-login{display:block;overflow:hidden}
.played-game,.play-index-login{position:absolute;bottom:13%;left:0;width:100%;height:12%}
.play-reco-login{position:absolute;bottom:5%;left:0;width:100%;height:12%}
.played-game,.played-reco {white-space: nowrap;text-overflow: ellipsis}
.played-index{margin:10px auto 0;width:90%;position: relative;min-height: 25px}
.played-reco{position:absolute;bottom:8%;left:0;width:100%}

.played-game span,.played-index span,.played-reco span{padding-left:2%;color:#666;font-size:14px}
.played-index span b,.played-reco span b,.played-game span b {color: #fb6f5d; font-weight: normal}
.played-game img,.played-index img,.played-reco img{vertical-align: bottom;border-radius: 50%}
.played-game img{margin-left:12px;width:12.38%}
.played-index img{margin-left: 10px;width:6.4%}
.played-reco img{margin-left:10px;width: 11.85%}
.play-index-login img {width: 53.08%; margin-left: 10px}
.play-reco-login img {width: 51.36%; margin-left: 10px}

.likes{color:#4a4a4a;text-align:center;font-size:16px;position: relative; display: block;margin: 30px 0.5% 0 0.5%}
.likes-title{line-height: 40px;height: 40px;background-color: #eaeaea;width: 100%;font-weight: 600;color: #131615}
.likes-title i{ height: 0;width: 0;border: 10px solid transparent;position: absolute;top: 40px;left: 48%;z-index: 1000;border-top-color: #eaeaea}
.likes-data{margin: 30px 0 10px 0}
.likes-data ul li{padding: 5px 0;display: none}
.likes-data ul li a{color: #6e97ff}
.likes-name{font-weight: 600}
#likes-arrow{background: url("../images/more.png") no-repeat scroll 0 0;width: 22.5px;height: 12px;margin: 20px auto;background-size: cover;display: block}

/*likes-link*/
.like-link,.liked-link{height: 25px;width: 50px;cursor: pointer;bottom: 0;right: 0; position: absolute}
.like-link{background: url("../images/like-icon.png") no-repeat scroll 0 0;background-size: cover}
.liked-link{background: url("../images/like-icon-on.png") no-repeat scroll 0 0;background-size: cover}

/*recommend*/
#recommend.title{line-height: 40px;height: 40px;color: #131615;text-align: center;background-color: #eaeaea;margin: 0 0.5%}
.quiz-list .related-item{ display: block;position: relative;padding: 0 0 45% 0;float: left;width: 49%;height: 0;margin:5% 0.5% 0 0.5%;background: #ffffff;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;border: 1px solid #dbdbdb;overflow: hidden;background: none}
.quiz-list .related-item .img{position: absolute;width: 100%;height: 60%;overflow: hidden}
.quiz-list .related-item .img img{position:absolute;width:100%;left:0%;}
.quiz-list .related-item .img .rank-badge{position:absolute;top:0%;width:24px;height:24px;line-height:24px;font-weight:bold;text-align:center;color:#ffffff;background-color:#FF8A74;font-size:18px}
.quiz-list .related-item .desc{position:absolute;padding:10px 10px 0px 10px;top:60%;font-size:14px;font-weight:normal;letter-spacing:-1px;color:#000000;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}

@media (max-width:640px){
    .played-game{bottom:15%}
    .played-game img{margin-left:8px;width: 14.76%}
    .played-game span{font-size:10px}
    .played-index {margin: 5px auto 0;min-height: 18px}
    .played-index img{margin-left:5px;width: 8.38%}
    .played-index span{font-size:10px;line-height: 18px}
    .played-reco img{margin-left:5px;width: 11.9%;float: left}
    .played-reco span{font-size:10px}
    .play-index-login{bottom: 15%}
    .play-index-login img{margin-left: 8px}
    .play-reco-login{bottom: 6%}
    .play-reco-login img{width: 60%;margin-left: 5px}
    .likes{font-size:14px; margin-top: 20px}
    .like-link,.liked-link{height: 18px;width: 36px}
    #recommend.title{font-size: 14px}
    .quiz-list .related-item{padding: 0 0 55% 0}
    .quiz-list .related-item .img{height: 51%}
    .quiz-list .related-item .desc{padding: 5px 5px 0px 5px;top: 51%}
}