@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "微软雅黑";
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.disnone {
  display: none;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 346px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 352px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 560px) {
  html {
    font-size: 21px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 27px;
  }
}
@media screen and (min-width: 746px) {
  html {
    font-size: 28px;
  }
}
@media screen and (min-width: 772px) {
  html {
    font-size: 29px;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 38px;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 54px;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 60px;
  }
}
body {
  background-color: #F2C720;
}

#header {
  width: 100%;
  height: 7.5rem;
  margin: 2rem 0 1rem;
}
#header img {
  width: 100%;
  height: 100%;
}

#obapic {
  text-align: center;
}
#obapic img {
  width: 14.6rem;
}

#content {
  position: relative;
  width: 100%;
  text-align: center;
}
#content form {
  width: 90%;
  margin: 1rem auto 0;
  line-height: 5rem;
  font-size: 1rem;
}

.name {
  width: 19rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0 0.5rem;
}

.create {
  margin-top: 0.5rem;
  text-align: center;
  line-height: 3rem;
}
.create input {
  width: 20rem;
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  background-color: #E9283D;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#footer a {
  display: inline-block;
  width: 100%;
}
#footer a img {
  width: 100%;
  vertical-align: bottom;
}

.text1 {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0;
  color: #fff;
}

.result-img {
  width: 100%;
  padding-bottom: 5rem;
}
.result-img img {
  width: 100%;
}
